---
import { getRelativeLocaleUrl } from 'astro:i18n';
import Layout from '../../layouts/Layout.astro';
import { getBlogPostsSorted } from '../../content.config';
import Post from '../../components/Post.astro';
import type { CollectionEntry } from 'astro:content';
import type { TranslationsLang } from '../../lang/translations';

export async function getStaticPaths() {
  const allPosts = await getBlogPostsSorted();
  const groupedByLang = allPosts.reduce(
    (acc, post) => {
      const lang = post.data.lang as TranslationsLang;
      acc[lang] ??= [];
      acc[lang].push(post);
      return acc;
    },
    {} as Record<TranslationsLang, CollectionEntry<'blog'>[]>,
  );

  const paths = Object.entries(groupedByLang).flatMap(([lang, posts]) => {
    return posts.map((post, i) => ({
      params: {
        id: post.data.slug,
        blogPath: lang === 'pt-br' ? 'blog' : `${lang}/blog`,
      },
      props: {
        post,
        lang: lang as TranslationsLang,
        next: posts[i + 1],
        prev: posts[i - 1],
      },
    }));
  });

  return paths;
}

const { post, lang, next, prev } = Astro.props;
---

<Layout title={post.data.title} lang={lang}>
  <div class="container mx-auto">
    <Post post={post} />

    <p
      class="font-bold text-2xl border-b-1 mt-15 mb-8 text-center max-w-6xl mx-auto pb-2 border-b-accent"
    >
      Continue lendo:
    </p>

    <nav id="article-nav" class="flex flex-col mx-auto gap-2 w-max">
      {
        prev && (
          <a
            href={getRelativeLocaleUrl(lang, `/blog/${prev.data.slug}/`)}
            class="hover:hover:bg-purple-800 px-4 py-2 rounded-md border border-muted"
          >
            ← {prev.data.title}
          </a>
        )
      }

      {
        next && (
          <a
            href={getRelativeLocaleUrl(lang, `/blog/${next.data.slug}/`)}
            class="hover:hover:bg-purple-800 px-4 py-2 rounded-md border border-muted text-right"
          >
            {next.data.title} →
          </a>
        )
      }
    </nav>
  </div>
</Layout>
