---
import { getCollection } from 'astro:content';
import Title from './Title.astro';
import ArrowIcon from '../assets/icons/arrow.svg';
import PRsOpenIcon from '../assets/icons/pr-open.svg';
import PRsClosedIcon from '../assets/icons/pr-closed.svg';
import { cn } from '../styles/classes';
import { formatDate } from '../helpers/dateFormat';

type Props = {
  class?: string;
};

// FIXIT: Translate github PRs

const prs = await getCollection('githubPrs');

const { class: classes = '' } = Astro.props;
---

<section class={cn('flex flex-col gap-4', classes)}>
  <Title>
    Github PRs
    <Fragment slot="actions">
      <a
        href="https://github.com/search?q=is:pr+author:carlos-algms&type=pullrequests"
        target="_blank"
        class="text-muted-foreground hover:underline hover:text-accent"
      >
        All my pull requests
        <ArrowIcon class="size-4" />
      </a>
    </Fragment>
  </Title>

  <ul class="grid gap-4">
    {
      prs.map(({ data: pr }) => (
        <li class="border rounded-sm p-2 border-zinc-700 flex flex-col gap-2">
          <a
            class="inline-flex items-center gap-2"
            href={pr.html_url}
            target="_blank"
            rel="noopener noreferrer"
          >
            {pr.state === 'open' ? (
              <PRsOpenIcon aria-hidden class="size-5 shrink-0 text-green-600" />
            ) : (
              <PRsClosedIcon aria-hidden class="size-5 shrink-0 text-accent" />
            )}

            <span class="font-medium">{pr.title}</span>

            <span aria-hidden class="text-xs text-muted-foreground">
              #{pr.number}
            </span>
          </a>

          <div class="ml-7 flex items-center gap-1 flex-wrap">
            <span class="text-muted-foreground bg-muted px-1.5 py-0.5 rounded">
              {pr.pull_request.head.label}
            </span>
            <ArrowIcon class="size-5 text-muted-foreground" />
            <span class="text-muted-foreground bg-muted px-1.5 py-0.5 rounded">
              {pr.pull_request.base.repo.full_name}:{pr.pull_request.base.ref}
            </span>
          </div>

          <div class="text-xs text-muted-foreground pl-7">
            Opened
            <time datetime={new Date(pr.created_at).toISOString()}>
              {formatDate(pr.created_at)}
            </time>
            {pr.assignee && (
              <>
                • Assigned to{' '}
                <a
                  class="text-muted-foreground hover:underline hover:text-white"
                  href={pr.assignee.html_url}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  @{pr.assignee.login}
                </a>
              </>
            )}
          </div>
        </li>
      ))
    }
  </ul>

  <div class="flex justify-center">
    <a
      href="https://github.com/search?q=is:pr+author:carlos-algms&type=pullrequests"
      target="_blank"
      class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 rounded-lg px-5 py-2.5 my-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900 inline-flex items-center"
    >
      All PRs I opened
      <ArrowIcon class="size-5 inline-block" />
    </a>
  </div>
</section>
